/* Define Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #26b9d0;
}

h1 {

  font-size: 20px;

}

.rating_above {
  font-size: 17px;
  height: 15px;
  margin-left: 5%;
  text-align: left;
  /* position: relative; */
  /* font: "Ar"; */
  /* width: auto; */
}


.rating_dropdown {
  font-size: 17px;
  margin-left: 10px;
}



.textbox {
  font-size: 17px;
  width: 70%;
  height: 25px;
  margin-bottom: 20px;
  position: relative;
  left: 10px;
  padding-left: 15px;
  transition: 0.5s;
}


.textbox_num {
  font-size: 18px;
  width: 30%;
  height: 25px;
  margin-bottom: 20px;
  position: relative;
  left: 10px;
  padding-left: 15px;
  transition: 0.5s;
}


.textarea {
  font-size: 18px;
  width: 80%;
  height: 50%;
  margin-bottom: 20px;
  position: relative;
  left: 10px;
  padding-left: 15px;
  transition: 0.5s;

}

/* Add padding to container elements */
.container {
    padding: 16px;
}

.checkbox {
  margin-bottom: 20px;
  margin-left: 10px;
}


.btnSubmit {
  font-size: 20px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 32px;
  margin-left: 20%;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
}

.btnSubmit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  /* margin-left: 50%; */
  transition: 0.5s;

}

.btnSubmit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btnSubmit:hover span {
  padding-right: 25px;
}

.btnSubmit:hover span:after {
  opacity: 1;
  right: 0;
}

.file {
  margin-left: 15px;
  font-size: 17px;

}

/* The Modal (background) */
.modal {
  /* z-index: 1; /* Sit on top */
  /* position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    right:0;
    background-color: #cccccc;
    margin: auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 100%; /* Could be more or less, depending on screen size */
    transition:  0.5s;
    right:0;
}


html {
  background: url(image/bgd_add_place.jpeg) no-repeat center center fixed;
  background-size: cover;


}
