/* Define Navigation Bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #26b9d0;
}



.textbox {
  font-size: 22px;
  width: 80%;
  height: 25px;
  margin-bottom: 20px;
  position: relative;
  left: 30px;
  padding-left: 15px;
  transition: 0.5s;
}
/* Add padding to container elements */
.container {
    padding: 16px;
}

.checkbox {
  margin-bottom: 20px;
  margin-left: 30px;
}

.btnSubmit {
  font-size: 20px;
  background-color: black;
  color: white;
  border: none;
  padding: 10px 32px;
  margin-left: 120px;
  display: inline-block;
  transition: all 0.5s;
  cursor: pointer;
}

.btnSubmit span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;

}
.btnSubmit span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btnSubmit:hover span {
  padding-right: 25px;
}

.btnSubmit:hover span:after {
  opacity: 1;
  right: 0;
}

.parkour_guy {
  align:"center";
  z-index: -1;
  /* margin-left: 1600px;
  margin-top: 200px; */
  margin: 0;
  position: absolute;
  top: 5%;
  left: 75%;
  /* margin-right: -50%; */
  transform: translate(-50%, -50%)
  position: relative;
}

/* The Modal (background) */
.modal {

    /* z-index: 1; /* Sit on top */ */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
    right:0;
    background-color: #cccccc;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 500px; /* Could be more or less, depending on screen size */
    transition:  0.5s;
    right:0;
}

html {
  background: url(image/background.jpg) no-repeat center center fixed;
  background-size: cover;
}
